server:
  port: 8010

spring:
  application:
    name: payment-service
  rabbitmq:
    host: ${SPRING_RABBITMQ_HOST:localhost}
    username: ${SPRING_RABBITMQ_USERNAME:guest}
    password: ${SPRING_RABBITMQ_PASSWORD:guest}
    template:
      reply-timeout: 5000 # 5 seconds
    listener:
      simple:
        retry: { enabled: true, initial-interval: 1s, max-attempts: 3, max-interval: 10s, multiplier: 2.0 }

app:
  stripe:
    secret-key: ${STRIPE_SECRET_KEY}
    publishable-key: ${STRIPE_PUBLISHABLE_KEY}
    webhook-secret: ${STRIPE_WEBHOOK_SECRET}
  rabbitmq:
    # --- THIS IS THE FIX ---
    checkout-session-request:
      exchange: "checkout.session.exchange"
      queue: "checkout.session.queue"
      routing-key: "checkout.session.routing.key"

    checkout-session-response:
      exchange: "checkout.session.response.exchange"
      routing-key: "checkout.session.response.routing.key"

    payment-options-request:
      exchange: "payment.events"
      queue: "payment.options.request.q"
      routing-key: "payment.options.request"

    payment-options-reply:
      exchange: "payment.events"
      queue: "payment.options.reply.q"
      routing-key: "payment.options.reply"

---
spring:
  config:
    activate:
      on-profile: container
  rabbitmq:
    host: rabbitmq